*{
	margin: 0;
	padding: 0;
}

body, html{
	height:100%;
}

body{
    background-image: url(../img/background-football.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Mukta', sans-serif;
}
::-webkit-scrollbar {
    height: 10px;
    width: 12px;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #307351;
    -webkit-border-radius: 1ex;
}

nav{
    background-color: #99C2A2;
}

nav li{
    padding: 5px;
    font-size: 20px;
}

nav a{
    color: #FBFFB9;
}

nav a:hover{
    color: #307351;
}

.navbar-brand{
    font-size: 25px;
}

#contentIndex{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#formIndex{
    min-width: 400px;
    margin: auto;
    background-color: #AC3931;
    opacity: 0.8;
    color: #ffffff;
    border: 5px solid #ffffff;
}

#formIndex button{
    margin: auto;
    margin-top: 10px;
}

.scrollable-menu {
    height: 250px;
    overflow-x: hidden;

    overflow-y: scroll;
}

.items{
    font-size: 14px;
    color:#307351;
}

.container{
    color: #307351;
}

.container h1{
    color: #FBFFB9;
}

.btnsearch{
    background-color: #307351;
    color: #FBFFB9;
}
.page{
    margin-top: 100px;
}
.home{
    margin-top: 25px;
}
.row{
    background-color: #99C2A2;
    opacity: 0.8;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    height: 70vh;
}

.card-body a {
    color: #307351;
}

.list a {
    color: #307351;
}

.list a:hover {
    color: #307351;
    text-decoration: none;
    font-weight: bold;
} 

.resultTour{
    height: 23vh;
    overflow-x: hidden;

    overflow-y: scroll;
    font-size: 15px;
}

.favoris{
    height: 50vh;
    overflow-x: hidden;

    overflow-y: scroll;
    font-size: 15px;
}
.result{
    height: 20vh;
    overflow-x: hidden;

    overflow-y: scroll;
    font-size: 15px;
}

.resultLive{
    height: 50vh;
    overflow-x: hidden;

    overflow-y: scroll;
    font-size: 15px;
}

#favoris{
    font-size: 10px;
}


#liveContainer{
    height: 100%;
}

#liveContainer a:hover{
    text-decoration: none;
    cursor: default;
}