{% extends 'base.html' %}

{% block content %}
<!--Home content-->
<div class="container home">
    <h1>Bonjour, {{ current_user.username }}!</h1>
    <hr>
    
    <div class="row ">
        <aside class="col-md-3">
            <div class="card ">
                <div class="card-body">
                    <h5 class="card-title">Match du jour</h5>
                    <div class="result">
                        {% for event in match %}
                        <a>-{{ event.event_name }}</a>
                        </br>
                        </br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </aside>
        <div class="col-md-8">
            <div id="favoriteTeam">
                <h3>Tournois favoris</h3>
                <div class="card favoris">
                    <div class="card-body list">
                        {% for favorite in favorites %}
                            <a href="/tournament/?name={{ favorite.name }}">{{ favorite.name }}</a>
                            <br>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}