{% extends 'log_base.html' %}
{% from "_render_field.html" import render_field %}
{% block content %}
<div class="row" id="contentIndex">
    <div class="card" id="formIndex">
        <div class="card-body">
            <form action="" method="POST" novalidate>
                {{ loginForm.csrf_token }}
                <div class="form-group">
                    {{ render_field(loginForm.username) }}
                </div>
                <div class="form-group">
                    {{ render_field(loginForm.password) }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary text-center">Connexion</button>
                </div>
            </form>
            <div class="text-center text-white">
                </button><a href="{{ url_for('register') }}"><button type="button" class="btn btn-secondary">S'inscrire</a></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}