<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="row" id="contentIndex">
        <div class="card" id="formIndex">
            <div class="card-body">
                <form action="#" method="POST">
                    <div class="form-group">
                        <label for="pseudoConnection">Nom d'utilisateur</label>
                        <input type="email" class="form-control" id="pseudoConnection" aria-describedby="pseudoConnectionHelp">
                    </div>
                    <div class="form-group">
                        <label for="passwordConnection">Mot de passe</label>
                        <input type="password" class="form-control" id="passwordConnection">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary text-center">Connexion</button>
                    </div>
                </form>
                <div class="text-center">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#subscribeModal">S'inscrire</button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="subscribeModal" tabindex="-1" aria-labelledby="subscribeModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    S'inscrire
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form action="#" method="POST">
                                    <div class="form-group">
                                        <label for="nameSubsribe">Votre nom</label>
                                        <input type="text" class="form-control" id="nameSubsribe" aria-describedby="nameSubsribeHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="firstNameSubsribe">Votre prénom</label>
                                        <input type="text" class="form-control" id="firstNameSubsribe" aria-describedby="firstNameSubsribeHelp">
                                    </div>
                                    <div class="form-group">
                                        <label for="emailSubscribe">Votre email</label>
                                        <input type="email" class="form-control" id="emailSubscribe" aria-describedby="emailSubscribeHelp">
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="emailSubscribeConfirmation">Confirmation de votre email</label>
                                            <input type="email" class="form-control" id="emailSubscribeConfirmation" aria-describedby="emailSubscribeConfirmationHelp">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordSubscribe">Mot de passe</label>
                                        <input type="password" class="form-control" id="passwordSubscribe">
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordSubscribeConfirmation">Confirmation de votre mot de passe</label>
                                        <input type="password" class="form-control" id="passwordSubscribeConfirmation">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Inscription</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>