{% extends 'log_base.html' %}
{% from "_render_field.html" import render_field %}
{% block content %}
<div class="row" id="contentIndex">
    <div class="card" id="formIndex">
        <div class="card-body">
            <h5 class="card-title text-center mb-5">Connexion</h5>
            <form action="" method="POST" novalidate>
                {{ loginForm.csrf_token }}
                <div class="form-group">
                    {{ render_field(loginForm.username, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(loginForm.password, class="form-control") }}
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                        <li style="list-style: none; color: #FBFFB9"><i>{{ message }}</i></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <div class="text-center">
                    <button type="submit" class="btn btn-success text-center">Connexion</button>
                </div>
            </form>
            <div class="text-center">
                </button><a href="{{ url_for('register') }}"><button type="button" class="btn btn-info">S'inscrire</a></button>
            </div>
        </div>
    </div>
</div>
{% endblock %}