{% extends 'log_base.html' %}
{% from "_render_field.html" import render_field %}
{% block content %}
<div class="row" id="contentIndex">
    <div class="card" id="formIndex">
        <div class="card-body">
            <h5 class="card-title text-center mb-5">S'inscrire</h5>
            <form action="{{url_for('register')}}" method="POST">
                {{ registerForm.csrf_token }}
                <div class="form-group">
                    {{ render_field(registerForm.username, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(registerForm.password, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(registerForm.confirm_password, class="form-control") }}
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Inscription</button>
                </div>
                <div class="text-center">
                    </button><a href="{{ url_for('index') }}"><button type="button" class="btn btn-success">Se connecter</a></button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}