{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <aside class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Match en direct</h5>
                    <div class="result">
                        <div class="localTeam">OL</div>
                        <div class="result">0-0</div>
                        <div class="visitorTeam">PSG</div>
                    </div>
                </div>
            </div>
        </aside>
        <div class="col-md-8">
            <img src="" alt="team-logo">
            <div class="accordion" id="accordionTeam">
                <div class="card">
                    <div class="card-header" id="headingTeamOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTeamOne" aria-expanded="true" aria-controls="collapseTeamOne">
                            Infos de l'équipe
                        </button>
                    </h2>
                    </div>
                    <div id="collapseTeamOne" class="collapse show" aria-labelledby="headingTeamOne" data-parent="#accordionTeam">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTeamTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTeamTwo" aria-expanded="false" aria-controls="collapseTeamTwo">
                            Infos joueurs
                        </button>
                    </h2>
                    </div>
                    <div id="collapseTeamTwo" class="collapse" aria-labelledby="headingTeamTwo" data-parent="#accordionTeam">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTeamThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTeamThree" aria-expanded="false" aria-controls="collapseTeamThree">
                            Résultat
                        </button>
                    </h2>
                    </div>
                    <div id="collapseTeamThree" class="collapse" aria-labelledby="headingTeamThree" data-parent="#accordionTeam">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
{% endblock %}
