{% extends 'base.html' %}

{% block content %}
<div class="container page">
    <div class="row">
        <aside class="col-md-12">
            <div class="card" id="liveContainer">
                <div class="card-body" >
                    <h5 class="card-title">Derniers résultats en {{tournament_name}}</h5>
                    <div class="resultLive">
                        {% if tournament != [] %}
                            {% for event in tournament %}
                            <div>
                                <a class="col-md-6">-{{ event.event_name }}</a><a class="col-md-6">{{ event.result[0] }}-{{ event.result[1] }}</a>
                            </div>
                            </br>
                            </br>
                            {% endfor %}
                        {% else %}
                            <div>
                                <a class="col-md-6">Pas de matchs ces sept derniers jours ...</a>
                            </div> 
                        {% endif %}
                    </div>
                </div>
            </div>
        </aside>
    </div>
</div>
{% endblock %}
